# Python
__pycache__/
*.py[cod]
venv/
.env

# Terraform
terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/crash.log
terraform/*.tfvars
*.tfplan

# OS/editor
.DS_Store
.idea/
.vscode/
